h1 { 
    font-family: 'Coda Caption', sans-serif; 
}

h2, h3 {
    font-family: 'Sarabun', sans-serif;
}

p, nav, .motto {
    font-family: 'Noto Serif SC', serif;
}

header img, .headings {
    display: inline-block;
    vertical-align: middle;
}

header {
    background-color: #25cbf5;
    padding: 1.5em;
}

nav {
    background-color: #c7e9f1;
    padding: .1em;
}

a:hover {
    color: #981231;
    background-color: rgb(255, 223, 196);    
}

nav li {
    margin: .2em;
}

.five-day-forecast img {
    width: 40%;
    max-width: 60%;
}

main {
    margin: 40pt;
}

article img {
    float: right;
    width: 40%;
    margin: 1em;
}

article {
    background-color: azure;
    padding: 1.5em;
}

@media only screen and (max-width: 699px) {
    nav ul, .five-day-forecast {
        display: none;
    }

    nav {
        padding: .1em;
    }
}