header {
	display: flex;
	justify-content: center;
	background-color: #4A69BD;
	padding: 1em;
}

header img {
	max-height: 4em;
	justify-content: center;
	align-self: center;
	padding: 1.5em;
}

header h1 {
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F1C40F;
	height: 3em;
	font-size: 1.15em;
}

nav ul {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none; 
}

nav a {
	text-decoration: none; 
	color: #eee;
    text-align: center;
}

nav .active { 
	background-color: #4A69BD;
	color: white;
}
	
nav a:hover {
    color: white;
    background-color: #4A69BD;    
}

#reservationForm {
	display: flex;
	flex-direction: column;
}

#reservationForm div {
	padding: .25em;
}

#reservationForm label {
	font-family: 'Merriweather', serif;
}

footer {
	display: grid;
	background-color: #ECF0F1;
	justify-content: center;
}





/*********************************

MEDIUM VIEW

*********************************/

@media only screen and (min-width: 640px) {
	

}

/*********************************

LARGE VIEW

*********************************/

@media only screen and (min-width: 960px) {



}