header {
	display: flex;
	justify-content: center;
	background-color: #4A69BD;
	padding: 1em;
}

header img {
	max-height: 4em;
	justify-content: center;
	align-self: center;
	padding: 1.5em;
}

header h1 {
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F1C40F;
	height: 3em;
	font-size: 1.15em;
}

nav a:hover {
    background-color: #4A69BD;
}


nav ul {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none;
	padding: 1em;
}

nav a {
	text-decoration: none; 
	color: #eee;
    text-align: center;
}

nav .active { 
	background-color: #4A69BD;
	color: white;
}
	

main {
	    max-width: 80%;
	    margin: auto;
	    padding: 20px;
	}

p, .serviceList, .form label {
	font-family: 'Merriweather', serif;
}

#submitButton {
	width: 15%;
	margin: 10px;
}

h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

#bookNowButton {
	text-decoration: none;
	font-size: 2em;
}

.form {
	display: flex;
	flex-direction: column;
}

.form div {
	padding: .25em;
}

textarea {
	padding: 10px;
}

footer {
	display: grid;
	background-color: #ECF0F1;
	justify-content: center;
}

/*********************************

MEDIUM VIEW

*********************************/

@media only screen and (min-width: 640px) {


}

/*********************************

LARGE VIEW

*********************************/

@media only screen and (min-width: 960px) {



}