@media only screen and (min-width: 640px) {
    nav li {
        float: left;
        width: auto%;
    }

    nav ul.hide { display: block; }

    nav a {
        padding: .5rem 1rem;
    }

    nav .menu-button {
        display: none;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}