/* Navigation */

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #eee;
}

nav { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f8c8d; 
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul.hide {
    display: none;
}

nav li { list-style-type: none; }

nav li.active { background-color: #34495e;}

nav a {
    display: block;
    padding: .8em 2%;
    color: #eee;
    text-align: center;
    text-decoration: none;

}

nav a:hover {
    color: white;
    background-color: #2c3e50;    
}

header {
    display: flex;
    background-color: #1abc9c;
    padding: 1.5em;
    justify-content: center;
}

header img {
    justify-content: center;
    max-width: 5rem;
    max-height: 5rem;
    padding: 1rem;
}


.heroPicture img { 
    width: 70%;
}

h1 { 
    font-family: 'Coda Caption', sans-serif; 
}

h2, h3 {
    font-family: 'Sarabun', sans-serif;
}

p, nav, .motto, .details {
    font-family: 'Noto Serif SC', serif;
}

.motto {
    font-style: italic;
}

main {
    margin: 40pt;
}

.weatherSummary {
    width: 20%;
    background-color: rgba(26, 188, 156, 0.5);
    padding: 1em;
    min-width: 50;
    display: grid;
    justify-content: center;
}

.weatherSummary h3 {
    text-align: center;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.name {
    align-items: left;
    justify-items: end;
}

.value {
    align-items: right;
}

.summaryAndHero {
    position: relative;
} 

.weatherSummary {
    position: relative;
    z-index: 1000;
}

header img, .headings {
    display: inline-block;
    vertical-align: middle;
}


.five-day-forecast img {
    width: 40%;
}

article img {
    float: right;
    width: 40%;
    margin: 1em;
}

article {
    background-color: azure;
    padding: 1.5em;
}

td { text-align: center; }

td img { 
    display: block; 
    margin: auto;
}

table, th, td {
    border: 1px solid green;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
}

.gallery img {
    width: 100%;
    height: auto;
}

figcaption {
    padding: .5em 0 .5em 1em;
    font-style: italic;
    color: #747474;
    font-family: sans-serif;
    font-size: .75em;
    width:100%;
}

.footerUpperSection .footerLowerSection {
    display: flex;
}


.footerUpperSection {
    display: flex;
    background-color: rgba(26, 188, 156, 0.7);
    padding: 1em;
    margin: 0;
}

.footerLowerSection {
    background-color: #7f8c8d;
    padding: 1em;
    text-align: center;
}

.footerLowerSection p, .footerLowerSection div, .footerUpperSection { 
    font-size: .8em;
    font-family: 'Sarabun', sans-serif;
}

.footerContactInfo {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.footerPhoneNumber {
    padding-top: 1em;
}

.townName {
    text-align: center;
}

@media only screen and (max-width: 319px) {
    .five-day-forecast {
        display: none;
    }
}