@media only screen and (min-width: 32.5em) {
    nav li {
        float: left;
        width: auto%;
    }

    nav ul.hide { display: block; }

    nav a {
        padding: .5rem 1rem;
    }

    nav .menu-button {
        display: none;
    }
}